@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    color: black;
    background-color: whitesmoke;
    font-family: "Montserrat", sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background: url(0.png);
    background-size: cover;
}
header{
    display: block;
}
.container{
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-inner{
    width: 100%;
}
div{
    display: block;
}
.header-top{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
section{
    display: block;
}
.header-logo > a {
    font-size: 24px;
    line-height: 36px;
    color: white;
    font-weight: 700;
}
.header-intro > a {
    text-decoration: none;
    color: white;
}
a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.header-menu-inner{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.header-menu-inner {
    display: flex;
}
ul {
    list-style-type: none;
}
ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.header-menu__item {
    margin: 0 15px;
    transition: 0.5s;
}
li {
    display: list-item;
}
.header-menu__item{
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.header-menu__item:hover{
    font-size: 15px;
}
span{
    font-size: 24px;
    line-height: 36px;
    color: floralwhite;
}
.header-intro{
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 48px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 60px;
    text-align: center;
}
p{
    font-size: 20px;
    color: black;
    margin: 30px 0;
    text-align: center;
}
body{
    display: block;
    margin: 8px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.btn{
    display: block;
    width: 180px;
    text-align: center;
    padding: 15px 0;
    margin: 20px 0;
    font-size: 20px;
    border: 2px solid floralwhite;
    border-radius: 2px;
    background: transparent;
    text-transform: uppercase;
    transition: 0.5s;
}
.btn:hover{
    border: 2px solid white;
    background-color: white;
    font-weight: 700;    
    color: red;
    transition: 0.3s;
}
.p{
    color: white;

}
a{
    text-decoration: none;
    color: white;
}



main{
    display: block;
}
.container{
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
.main-inner{
    width: 100%;
    padding: 100px 0;
}
section{
    display: block;
}
h2, h3{
    font-size: 20px;
    color: darkslategray;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
h2{
    display: block;
    font-size: 1.5 em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.main-intro-line{
    width: 50px;
    height: 3px;
    background-color: white;
    margin: 30px auto;
}
.main-views{
    width: 100%;
    margin: 70px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-view{
    width: 345px;
    margin: 0 12px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: darkslategray;
}
.view-header{
    width: 90px;
    height: 90px;
    border: 2px solid darkslategray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    font-size: 43px;
    color: rgb(133, 33, 33);
}
.fa-solid, .fas {
    font-weight: 900;
}
.fa-regular, .fa-solid, .far, .fas {
    font-family: "Font Awesome 6 Free";
}
.fas{
    transition: all 0s;
}
.fas:hover{
    background-color: #c0301c;
    color: white;
}
.view-header{
    transition: 0s;
}
.view-header:hover{
    background-color: #c0301c;
    color: white;
}

.footer {
    width: 100%;
    background-color: #c0301c;
}
footer {
    display: block;
}   
.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
.footer-inner {
    width: 100%;
    padding: 100px 0;
}
.footer-social {
    width: 200px;
    height: 35px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.social-icon {
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon > i {
    font-size: 16px;
    color: #fff;
}
.fa-twitter:before {
    content: "\f099";
}
.footer-rights{
    color: #fff;
    text-transform: uppercase;
    margin: 60px 0 0 0;
    text-align: center;
}
